/*General settings*/

* {
	margin: 0;
	padding: 0;


}

:root {
	font-size: 62.5%;

	--stoney: #DBDEDE;
	--ufo: #989FA3;
	--french: #7F9DAE;
	--sorceres: #677F86;

}

/*--------------------------------------------------------*/

/* Fonte */

h1 {

	left: 20%;
	top: 1vw;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	color: ;
	font-size: ;

}

h2 {
	font-family: 'Teko', sans-serif;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: normal;

}


header {
	display: grid;
	grid-template-columns: 1fr;

}

body {
	background-color: var(--stoney);
}

/*--------------------------------------------------------*/

/*Header*/

.logo img {
	width: 5%;
}


.top {
	background-color: var(--sorceres);
	width: 100%;
}

.top h1 {
	position: absolute;
	left: 40%;
	top: 2.5vw;
}

.container {
	grid-template-columns: 1fr 1fr;
	display: grid;
}


/*--------------------------------------------------------*/

/*Burgermenu*/

.burger {

	cursor: pointer;
	background: var(--sorceres);
	border: none;
	justify-self: end;
	position: absolute;
	top: 0vw;
	right: 1vw;
	transform: scale(0.5);
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}


.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

nav {
	max-height: 0px;
	overflow: hidden;
	transition: 0.6s;
	background: #666;
	color: #fff;
}

nav.show {
	max-height: 500px;
}

/* rotere øverste bar - burgermenu */

.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* fader midterbar ud - burgermenu */

.change .bar2 {
	opacity: 0;
}

/* rotere nederste bar - burgermenu */

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width:768px) {
	.burger {
		display: none;
	}

	nav {
		max-height: 200px;
	}

	li {
		display: inline-block;
	}
}

/*--------------------------------------------------------*/

/*Footer*/

footer {
	width: 100vw;

	bottom: 0vw;
	background-color: var(--sorceres);

}

.adresse {
	margin-left: 20px;

}

.adresse a {

	text-decoration: none;
}



.some img {
	width: 3%;
	margin-left: 20px;
	margin-top: 3px;
}



/*----------------------------------------------------------------------*/

/*STILART*/

#billede2 img {
	width: 80vw;
}

#billede2 {
	text-align: center;
}

#tekst1 {
	width: 100vw;
	margin-bottom: 5vw;
}

#tekst1 p {
	width: 80vw;
	margin: auto;
}

#tekst2 {
	width: 100vw;
	margin-bottom: 5vw;
}

#tekst2 p {
	width: 80vw;
	margin: auto;
}

#YTV {
	width: 80vw;
	height: 50vw;
	margin-bottom: 5vw;

}

#billede1 {
	text-align: center;

}

.stil_top h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 5vw;
	margin-top: 5vw;
}

#grafik1,
#grafik2,
#grafik3,
#grafik4 {
	margin: 2vw;
}

.stil_bottom h2 {
	text-align: center;
}

@media screen and (min-width: 1080px) {
	#segmentContainer {
		display: grid;
		grid-template-rows: 1fr 1fr;
		width: 80vw;
		margin: auto;

	}
	#billede2 img {
		width: 30vw;
	}

	#billede2 {
		text-align: left;
		width: 30vw;
	}

	#tekst1 {
		width: 30vw;
	}

	#tekst1 p {
		width: 30vw;
		margin: auto;
		font-size: 2em;
		line-height: 1.5;
	}

	#tekst2 {
		width: 40vw;
		margin-bottom: 5vw;
		margin: auto;
	}

	#tekst2 p {
		width: 30vw;
		margin: auto;
		font-size: 2em;
		line-height: 1.5;
	}

	#YTV {
		width: 30vw;
		height: 20vw;
		margin-bottom: 2vw;

	}

	#billede1 {
		text-align: center;

	}

	.stil_top h2 {
		text-align: center;
		font-size: 2em;
		margin-bottom: 5vw;
		margin-top: 5vw;
	}

	#grafik1,
	#grafik2,
	#grafik3,
	#grafik4 {
		margin: 0;
		width: 20vw;
		margin: auto;

		padding: 1vw;

		font-size: 2.1em;
		opacity: 0;
		border-style: solid;
		border-color: var(--sorceres);


		transition: 0.4s;


	}

	#grafikContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.stil_bottom h2 {
		text-align: center;
	}
	#segment1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#segment2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#infografik {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		position: absolute;
		width: 100vw;
		top: 93vw;
	}
	.infografImg {
		margin: auto;
		transform: scale(1.3);
	}
	.infografImg img {
		width: 10vw;
		height: 8vw;
	}
	#streg img {
		width: 100vw;
	}
	#lidtned {
		padding-top: 1.5vw;
	}


}

.show {
	opacity: 1 !important;
}
