/*General settings*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --stoney: #DBDEDE;
    --ufo: #989FA3;
    --french: #7F9DAE;
    --sorceres: #677F86;
}

/*--------------------------------------------------------*/

/* Fonte */

h1 {
    left: 20%;
    top: 1vw;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: black;
    font-size: ;
}

h2 {
    font-family: 'Teko', sans-serif;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: normal;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    background-color: var(--stoney);
}

/*--------------------------------------------------------*/

/*Header*/

.logo img {
    width: 3vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

.top {
    background-color: var(--french);
    width: 100%;
}

.top h1 {
    position: absolute;
    width: 100vw;
    text-align: center;
    left: 0;
}

.container {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

/*--------------------------------------------------------*/

/*Burgermenu*/

.burger {
    cursor: pointer;
    background: var(--french);
    border: none;
    justify-self: end;
    position: absolute;
    top: -1.0vw;
    right: 0vw;
    transform: scale(0.5);
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0
}

li {
    padding: 5px;
    cursor: pointer;
    margin-right: 1vw;
    margin-left: 1vw;
}

li a {
    font-family: 'Teko', sans-serif;

    text-decoration: none;
    color: white;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--stoney);
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: var(--french);

}

nav.show {
    max-height: 500px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*hover effekt på dropdown menuen i mobilvisningen*/

nav a:hover {
    color: var(--stoney);
}

/* rotere øverste bar - burgermenu */

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* fader midterbar ud i burgermenu når den omdannes til X */

.change .bar2 {
    opacity: 0;
}

/* rotere nederste bar - burgermenu */

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/*parameter for desktop visning af HEADER*/

@media screen and (min-width:768px) {

    .top h1 {
        font-size: 6em;
    }


    li a {
        font-size: 1.8em;
        color: black;
    }

    li a:hover {
        color: #DBDEDE;
    }


    .burger {
        display: none;
    }

    nav {
        max-height: 200px;
    }

    li {
        display: inline-block;
    }
}

/*Forside*/

#splash {
    width: 75%;
    display: block;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}


#forsideh2 {
    text-align: center;
    margin-top: 5vw;

}

#forsideDesc {
    width: 75vw;
    margin-top: vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 140%;

}

.for_imgcontainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;

}

#portrait {
    width: 20vw;
}

#sign {
    width: 10vw;
    margin-left: 2vw;
    margin-bottom: 5vw;
    display: block;
}


/*parameter for desktop visning af FORSIDE*/

@media screen and (min-width:1080px) {
    #splash {
        width: 50%;
    }

    #forsideh2 {
        font-size: 250%;
    }

    #forsideDesc {
        font-size: 150%;
        width: 50vw;
        line-height: 1.5;

    }

    #portrait {
        width: 80%;

    }

    #sign {
        width: 40%;
        margin-top: 5em;

    }

}


/*---------------------------------------------------------*/

/*--------------------------------------------------------*/

/*Galleri*/

/*--------------------------------------------------------*/

/* CV */

#cv {
    display: grid;
    grid-template-columns: 1fr;
}

#cv #om {
    background-color: #809DAE;
    width: 90vw;
    margin: 5vw;
}

#om img {
    border-radius: 50%;
    width: 60vw;
    margin: auto;
}

#ombillede {
    width: 90vw;
    margin: auto;
    text-align: center;
    margin-top: 4vw;
}

#om p {
    margin: 2vw;
}

#om h2 {
    text-align: center;
}

#udstillinger {
    margin: 3vw;
}


/*parameter for desktop visning af CV*/

@media screen and (min-width: 1080px) {
    #ombillede img {
        width: 15vw;

    }

    #ombillede {
        text-align: center;
        width: 20vw;
    }

    #om {
        width: 20vw !important;
        margin: 0;
    }

    #cv {
        grid-template-columns: 1fr 2fr;
    }

    #headline {
        text-align: center;
        position: absolute;
        top: 11vw;
        right: 35vw;
        font-size: 3em;
    }

    .container {
        margin-top: 5vw;
    }

    #line {
        width: 30vw;
    }

    .cv_titel {
        font-size: 2.5em;
    }

    .cv_indhold {
        font-size: 2em;
    }

    #omTxT {
        font-size: 2em;
    }
}


/*--------------------------------------------------------*/

/*Footer*/

footer {
    width: 100vw;
    position: absolute;
    background: var(--french);
    display: flex;
    flex-wrap: nowrap;

}

.adresse {
    flex-grow: 1;
    flex-basis: 100px;
    padding-left: 50px;
    margin-top: 5px;

}

.adresse a {
    text-decoration: none;
    font-weight: bold;
    color: var(--stoney);
}

/*hover på mail linket*/

.adresse a:hover {
    color: black;
}



/*visning af hele FOOTER ved Mobil visning*/

@media screen and (max-width: 700px) {
    .some_img {
        flex-grow: 1;
        flex-basis: 100px;
        padding-top: 1.5vw;
        padding-left: 15vw;
    }

    .some_img img {
        width: 8vw;
        margin: 2vw;

    }

    .some_img a {
        text-decoration: none;
    }

    .adresse {
        flex-grow: 1;
        flex-basis: 100px;
        padding-left: 50px;
        margin-top: 5px;

    }

}

/*visning af hele FOOTER ved Tablet visning*/

@media screen and (min-width: 700px) {
    .some_img img:hover {
        transform: scale(0.9);
    }

    .some_img {
        flex-grow: 1;
        flex-basis: 100px;
        padding-top: 1vw;
        padding-left: 0vw;
    }

    .some_img img {
        width: 5.5vw;
        margin: 1.5vw;

    }

    .some_img a {
        text-decoration: none;
    }

    .adresse {
        flex-grow: 1;
        flex-basis: 100px;
        padding-left: 50px;
        margin-top: 5px;

    }
}

/*visning af hele FOOTER ved Desktop visning*/

@media screen and (min-width: 900px) {
    .some_img img:hover {
        transform: scale(0.9);
    }

    .some_img {
        flex-grow: 1;
        flex-basis: 100px;
        padding-top: 1.5vw;
        padding-left: 0vw;
    }

    .some_img img {
        width: 4vw;
        margin: 1vw;

    }

    .some_img a {
        text-decoration: none;
    }

    .adresse {
        flex-grow: 1;
        flex-basis: 100px;
        padding-left: 50px;
        margin-top: 10px;

    }

    .adresse {
        font-size: 1.4em;
    }

}

/*--------------------------------------------------------*/

/* Nyhedsbrev/ tilmeldings blanket*/

#tilmeld {
    background-color: var(--french);
    width: 20vh;
    height: 11vh;
    border-radius: 3.5px;
    border-width: 0.5px;
    border-color: #DBDEDE;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-right: 50px;
    border-style: solid;
    border-color: white;
}

#tilmeld p {
    color: #ffffff;
    font-weight: bold;
}

/* css der bliver kaldt nede i javascript´en der gør at modal vinduet bliver åbnet*/

#modal.vis {
    opacity: 1;
    pointer-events: all;
}

/* css til luk knappen*/

#close {
    height: 20px;
    width: 50px;
    border-radius: 3.5px;
    border: none;
    background-color: #7F9DAE;
    color: #DBDEDE;
    margin: 3px;
}

/* css til luk knappens hover*/

#close:hover,
#close:focus {
    color: rgb(127, 157, 174);
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}


/* css til modal vinduet*/

#modal {
    background-color: rgba(127, 157, 174, 0.79);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    position: fixed;
    /*display: none;*/
}

/* css til model content*/

#modal-content {
    margin: 5px;
}

#modal-content form {
    font-size: 150%;
}

#modal-content label {
    font-family: 'PT Sans Narrow', sans-serif;

}

/* css til submit knappen */

input[type=submit] {
    width: 50px;
    height: 25px;
    background-color: #7F9DAE;
    color: var(--stoney);
    font-size: 15px;
    text-align: center;
    margin: 5px;
    border-radius: 3.5px;
    float: right;
}

/* css til email feltet*/

input[type=email]:hover {
    background-color: rgba(219, 222, 222, 0.31);
    border-radius: 3.5px;
}

/* css til navne feltet*/

input[type=text]:hover {

    background-color: rgba(219, 222, 222, 0.31);
    border-radius: 3.5px;
}

/* css til erklæring feltet*/

input[type=checkbox] {

    background-color: rgba(219, 222, 222, 0.31);

    margin: 5px;


}

/* css til de overordnede input i nyhedsbrev*/

input {
    border-radius: 3.5px;
    margin: 5px;
}


/* media screen til at hide hele nyhedsbrevet når det er på mobilvisning*/

@media screen and (max-width: 700px) {
    .nyhedsbrev {
        display: none;
    }
}

/* media screen til blankettens placering ved tablet visning*/

@media screen and (min-width: 700px) {
    #modal {
        width: 40vw;
        height: 35vw;
        right: 0vw;
        bottom: 0vw;
    }
}

/* media screen hvor blanketten er placering ved desktop visning*/

@media screen and (min-width: 1080px) {
    #modal {
        width: 30vw;
        height: 35vw;
        right: 0vw;
        bottom: 0vw;
    }

}
