/*General settings*/

* {
	margin: 0;
	padding: 0;


}

:root {
	font-size: 65.5%;


	--stoney: #ECE4DC;
	--ufo: #989FA3;
	--french: #7F9DAE;
	--sorceres: #677F86;

}

/* Skrift */

h1 {
	position: absolute;
	left: 20%;
	top: 1vw;
	font-family: 'Kanit', sans-serif;

}

h2 {
	font-family: 'Teko', sans-serif;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: normal;

}


header {
	display: grid;
	grid-template-columns: 1fr;

}

body {
	background-color: var(--stoney);
}

/*Header*/

.logo img {
	width: 10%;
}


.top {
	background-color: var(--ufo);
}

.top h1 {
	position: absolute;
	left: 28%;
	top: 2.5vw;
	font-size: 4em;
}



/* css for CV */

#cv {
	display: grid;
	grid-template-columns: 1fr;



}

#cv #om {
	background-color: #809DAE;
	width: 90vw;
	margin: 5vw;
}

#om img {
	border-radius: 50%;
	width: 60vw;
	margin: auto;

}

#ombillede {
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 4vw;
}

#om p {
	margin: 2vw;
}

#om h2 {
	text-align: center;
}

#udstillinger {
	margin: 3vw;
	/*    grid-column: 2/4;*/
}


/*Galleri*/

.container {
	grid-template-columns: 1fr;
	display: grid;
}

.gal_img img {}

.gal_img {
	text-align: center;
}

article {
	pointer-events: none;
}

.gal_img p {
	padding: 5vw;
}


header {
	display: grid;
	grid-template-columns: 1fr;

}

main {}

.burger {
	/*         display: inline-block;*/
	cursor: pointer;
	background: var(--ufo);
	border: none;
	justify-self: end;
	position: absolute;
	top: 4vw;
	right: 4vw;
	transform: scale(1.6);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

nav {
	max-height: 0px;
	overflow: hidden;
	transition: 0.6s;
	background: #666;
	color: #fff;
}

nav.show {
	max-height: 500px;
}

/* Rotate first bar */

.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width:768px) {
	.burger {
		display: none;
	}
	nav {
		max-height: 200px;
	}
	li {
		display: inline-block;
	}
}

/* HER STARTER CSS*/

#gal_infotxt {
	width: 80vw;
	margin: auto;
	font-size: 1.5em;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: normal;
	border-radius: 5vw;
	margin-top: 5vw;
}

#info1 {
	padding: 5vw;
}

#modal_fullscreen {
	pointer-events: none;

}

#modal_button {
	pointer-events: none;
	display: none;
}

/* Desktop media querry */

@media screen and (min-width: 1080px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
		width: 80vw;
		margin: auto;
	}
	.gal_img img {}
	.gal_img p {
		padding: 2vw;

	}
	.gal_img img:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
	#gal_infotxt {
		background-color: var(--stoney);
		width: 50vw;
		margin: 0;
		margin-left: 13vw;
		font-size: 2.5em;
		letter-spacing: 0px;
		font-family: 'PT Sans Narrow', sans-serif;
		line-height: normal;
		border-radius: 0vw;
		line-height: 1vw;
		margin-top: 2vw;
	}


	#info1 {
		padding: 1vw;
	}
	article {
		pointer-events: all;
	}
	#modal_fullscreen {
		position: fixed;
		width: 100vw;
		height: 56.5vw;
		pointer-events: all;
		background-color: rgba(0, 0, 0, 0.80);
		top: 0;
		right: 0;
		transition: 0.2s;
		display: none;
		z-index: 8;

	}
	#modal_content {
		position: absolute;
		width: 80vw;
		height: 40vw;
		text-align: center;
		z-index: 10;

	}
	#modal_vindue {
		position: absolute;
		width: 80vw;
		height: 40vw;
		z-index: 9;
		left: 10vw;
		top: 6vw;

	}
	#modal_content img {}
	#modal_button {
		position: absolute;
		right: 13vw;
		transform: scale(2);
		z-index: 11;
		width: 1vw;
		height: 1vw;
		display: block !important;
		pointer-events: all;
		border-radius: 1vw;
		border-style: none;
	}

}
