/*General settings*/

* {
	margin: 0;
	padding: 0;


}

:root {
	font-size: 62.5%;

	--stoney: #DBDEDE;
	--ufo: #989FA3;
	--french: #7F9DAE;
	--sorceres: #677F86;

}

/*--------------------------------------------------------*/

/* Fonte */

h1 {

	left: 20%;
	top: 1vw;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	color: ;
	font-size: ;

}

h2 {
	font-family: 'Teko', sans-serif;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: normal;

}


header {
	display: grid;
	grid-template-columns: 1fr;

}

body {
	background-color: var(--stoney);
}

/*--------------------------------------------------------*/

/*Header*/

.logo img {
	width: 5%;
}


.top {
	background-color: var(--sorceres);
	width: 100%;
}

.top h1 {
	position: absolute;
	left: 40%;
	top: 2.5vw;
}

.container {
	grid-template-columns: 1fr 1fr;
	display: grid;
}


/*--------------------------------------------------------*/

/*Burgermenu*/

.burger {

	cursor: pointer;
	background: var(--sorceres);
	border: none;
	justify-self: end;
	position: absolute;
	top: 0vw;
	right: 1vw;
	transform: scale(0.5);
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}


.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

nav {
	max-height: 0px;
	overflow: hidden;
	transition: 0.6s;
	background: #666;
	color: #fff;
}

nav.show {
	max-height: 500px;
}

/* rotere øverste bar - burgermenu */

.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* fader midterbar ud - burgermenu */

.change .bar2 {
	opacity: 0;
}

/* rotere nederste bar - burgermenu */

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width:768px) {
	.burger {
		display: none;
	}

	nav {
		max-height: 200px;
	}

	li {
		display: inline-block;
	}
}

/*--------------------------------------------------------*/

/*Footer*/

footer {
	width: 100vw;

	bottom: 0vw;
	background-color: var(--sorceres);

}

.adresse {
	margin-left: 20px;

}

.adresse a {

	text-decoration: none;
}



.some img {
	width: 3%;
	margin-left: 20px;
	margin-top: 3px;
}



/*----------------------------------------------------------------------*/

/*STILART*/

#billede2 img {
	width: 80vw;
}

#billede2 {
	text-align: center;
}

#tekst1 {
	width: 100vw;
	margin-bottom: 5vw;
}

#tekst1 p {
	width: 80vw;
	margin: auto;
	font-size: 1.6em;
}

#tekst2 {
	width: 100vw;
	margin-bottom: 5vw;
}

#tekst2 p {
	width: 80vw;
	margin: auto;
	font-size: 1.7em;
}

#YTV {
	width: 80vw;
	height: 50vw;
	margin-bottom: 5vw;

}

#billede1 {
	text-align: center;

}

.stil_top h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 5vw;
	margin-top: 5vw;
}

#grafik1,
#grafik2,
#grafik3,
#grafik4 {
	margin: 2vw;
	font-size: 1.5em;
	margin-top: 4vw;

}

.stil_bottom h2 {
	text-align: center;
}

.infografImg img {
	width: 50vw;
}

#streg {
	display: none;
}

#style_gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#infoTxt {
	display: none;
}

#infoGrafikTxT {
	width: 100vw;
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: absolute;
	transform: translatey(-6vw);
}


/*--------------------------------------------------------*/

/*        style af tilmeldingsblanket*/

#tilmeld {
	background-color: #7F9DAE;
	width: 20vh;
	height: 11vh;
	border-radius: 3.5px;
	border-width: 0.5px;
	border-color: #DBDEDE;
	text-align: center;
	position: relative;
	margin: 4px;
	border-style: solid;
	border-color: white;
}

#tilmeld p {
	color: #ffffff;
	font-weight: bold;
}

/* css der bliver kaldt nede i javascript´en der gør at modal vinduet bliver åbnet*/

#modal.vis {
	opacity: 1;
	pointer-events: all;
}

/* css til luk knappen*/

#close {
	height: 20px;
	width: 50px;
	border-radius: 3.5px;
	border: none;
	background-color: #7F9DAE;
	color: #DBDEDE;
	margin: 3px;
}

/* css til luk knappens hover*/

#close:hover,
#close:focus {
	color: rgb(127, 157, 174);
	text-decoration: none;
	cursor: pointer;
	margin: 5px;
}


/* css til modal vinduet*/

#modal {
	background-color: rgba(127, 157, 174, 0.79);
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
	position: fixed;
	/*display: none;*/
}

/* css til model content*/

#modal-content {
	margin: 5px;
}

/* css til submit knappen */

input[type=submit] {
	width: 50px;
	height: 25px;
	background-color: #7F9DAE;
	color: #DBDEDE;
	font-size: 15px;
	text-align: center;
	margin: 5px;
	border-radius: 3.5px;
	float: right;
}

/* css til email feltet*/

input[type=email]:hover {
	background-color: rgba(219, 222, 222, 0.31);
	border-radius: 3.5px;
}

/* css til navne feltet*/

input[type=text]:hover {

	background-color: rgba(219, 222, 222, 0.31);
	border-radius: 3.5px;
}

/* css til erklæring feltet*/

input[type=checkbox] {

	background-color: rgba(219, 222, 222, 0.31);

	margin: 5px;


}

/* css til de overordnede input i nyhedsbrev*/

input {
	border-radius: 3.5px;
	margin: 5px;
}


/* media screen til at hide hele nyhedsbrevet når det er på mobilvisning*/

@media screen and (max-width: 700px) {
	.nyhedsbrev {
		display: none;
	}
}

/* media screen til blankettens placering ved tablet visning*/

@media screen and (min-width: 700px) {
	#modal {
		width: 40vw;
		height: 35vw;
		right: 0vw;
		bottom: 0vw;
	}
}

/* media screen hvor blanketten er placering ved desktop visning*/

@media screen and (min-width: 1080px) {
	#modal {
		width: 30vw;
		height: 35vw;
		right: 0vw;
		bottom: 0vw;
	}

}

/*--------------------------------------------------------*/

/*Footer*/

footer {
	width: 100vw;
	background: var(--french);
	display: flex;
	flex-wrap: nowrap;

}

.adresse {
	flex-grow: 1;
	flex-basis: 100px;
	padding-left: 50px;
	margin-top: 5px;

}

.adresse a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.adresse a:hover {
	color: #DBDEDE;
}





@media screen and (max-width: 700px) {
	.some_img {
		flex-grow: 1;
		flex-basis: 100px;
		padding-top: 1.5vw;
		padding-left: 15vw;
	}

	.some_img img {
		width: 8vw;
		margin: 2vw;

	}
	.some_img a {
		text-decoration: none;
	}
	.adresse {
		flex-grow: 1;
		flex-basis: 100px;
		padding-left: 50px;
		margin-top: 5px;

	}

}


@media screen and (min-width: 700px) {
	.some_img img:hover {
		transform: scale(0.9);
	}
	.some_img {
		flex-grow: 1;
		flex-basis: 100px;
		padding-top: 1vw;
		padding-left: 0vw;
	}

	.some_img img {
		width: 5.5vw;
		margin: 1.5vw;

	}
	.some_img a {
		text-decoration: none;
	}
	.adresse {
		flex-grow: 1;
		flex-basis: 100px;
		padding-left: 50px;
		margin-top: 5px;

	}
}



@media screen and (min-width: 900px) {
	.some_img img:hover {
		transform: scale(0.9);
	}
	.some_img {
		flex-grow: 1;
		flex-basis: 100px;
		padding-top: 1.5vw;
		padding-left: 0vw;
	}

	.some_img img {
		width: 4vw;
		margin: 1vw;

	}
	.some_img a {
		text-decoration: none;
	}
	.adresse {
		flex-grow: 1;
		flex-basis: 100px;
		padding-left: 50px;
		margin-top: 5px;

	}

	.adresse {
		font-size: 2em;
	}




	@media screen and (min-width: 1080px) {
		#segmentContainer {
			display: grid;
			grid-template-rows: 1fr 1fr;
			width: 100vw;
			margin: auto;

		}
		#billede2 img {
			width: 30vw;
			margin: auto;
		}

		#billede2 {
			text-align: center;
			width: 30vw;
			margin: auto;
		}

		#tekst1 {
			width: 60vw;
			margin-bottom: 5vw;
			margin: auto;
		}

		#tekst1 p {
			width: 50vw;
			margin: auto;
			font-size: 1.8em;
			line-height: 1.5;
			margin-top: auto;
		}

		#tekst2 {
			width: 60vw;
			margin-bottom: 5vw;
			margin: auto;
		}

		#tekst2 p {
			width: 50vw;
			margin: auto;
			font-size: 1.8em;
			line-height: 1.5;
			margin-top: auto;
		}

		#YTV {
			width: 30vw;
			height: 20vw;
			margin-bottom: 2vw;

		}

		#billede1 {
			text-align: center;

		}

		.stil_top h2 {
			text-align: left;
			font-size: 2em;
			margin-bottom: 5vw;
			margin-top: 5vw;
			margin-left: 5vw
		}

		#grafik1,
		#grafik2,
		#grafik3,
		#grafik4 {
			margin: 0;
			width: 20vw;
			margin: auto;

			padding: 1vw;
			color: white;
			border-radius: 3.5px;
			font-size: 1.5em;
			opacity: 0;
			background-color: var(--french);
			/*
			border-style: solid;
			border-color: var(--sorceres);
*/
			transition: 0.4s;


		}

		#grafikContainer {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width: 100vw;
			margin-top: 2vw;
		}

		.stil_bottom h2 {
			text-align: center;
			font-size: 2em;
		}
		.stil_bottom {
			margin-top: 5vw;
		}
		#segment1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		#segment2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 2.5vw;
		}
		#infografik {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width: 100vw;
			z-index: 1;
			position: relative;
		}
		#line {
			display: block;
			width: 100vw;

		}
		#infografikContainer {
			margin-top: 5vw;
		}
		#streg {
			display: block !important;
			position: relative;
			transform: translateY(-8vw);
		}
		.infografImg {
			margin: auto;
			transform: scale(1.3);
		}
		.infografImg img {
			width: 10vw;
			height: 8vw;
		}
		.infografImg img:hover {
			cursor: pointer;
		}
		#infoTxt {
			text-align: center;
			font-size: 2em;
			display: block;
		}
		#lidtned {
			padding-top: 1.5vw;
		}

		#style_gridContainer {
			display: block;

		}
		#infoGrafikTxT {
			width: 100vw;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			position: absolute;
			transform: translatey(-6vw);

		}
		#infoGrafikTxT p {
			margin: auto;
			font-size: 2em;
		}

		/*--------------------------------------------------------*/
		/*        style af tilmeldingsblanket*/
		#tilmeld {
			background-color: #7F9DAE;
			width: 20vh;
			height: 11vh;
			border-radius: 3.5px;
			border-width: 0.5px;
			border-color: #DBDEDE;
			text-align: center;
			position: relative;
			margin: 4px;
			border-style: solid;
			border-color: white;
		}

		#tilmeld p {
			color: #ffffff;
			font-weight: bold;
		}

		/* css der bliver kaldt nede i javascript´en der gør at modal vinduet bliver åbnet*/
		#modal.vis {
			opacity: 1;
			pointer-events: all;
		}

		/* css til luk knappen*/
		#close {
			height: 20px;
			width: 50px;
			border-radius: 3.5px;
			border: none;
			background-color: #7F9DAE;
			color: #DBDEDE;
			margin: 3px;
		}

		/* css til luk knappens hover*/
		#close:hover,
		#close:focus {
			color: rgb(127, 157, 174);
			text-decoration: none;
			cursor: pointer;
			margin: 5px;
		}


		/* css til modal vinduet*/
		#modal {
			background-color: rgba(127, 157, 174, 0.79);
			opacity: 0;
			pointer-events: none;
			transition: all 1s;
			position: fixed;
			/*display: none;*/
		}

		/* css til model content*/
		#modal-content {
			margin: 5px;
		}

		/* css til submit knappen */
		input[type=submit] {
			width: 50px;
			height: 25px;
			background-color: #7F9DAE;
			color: #DBDEDE;
			font-size: 15px;
			text-align: center;
			margin: 5px;
			border-radius: 3.5px;
			float: right;
		}

		/* css til email feltet*/
		input[type=email]:hover {
			background-color: rgba(219, 222, 222, 0.31);
			border-radius: 3.5px;
		}

		/* css til navne feltet*/
		input[type=text]:hover {

			background-color: rgba(219, 222, 222, 0.31);
			border-radius: 3.5px;
		}

		/* css til erklæring feltet*/
		input[type=checkbox] {

			background-color: rgba(219, 222, 222, 0.31);

			margin: 5px;


		}

		/* css til de overordnede input i nyhedsbrev*/
		input {
			border-radius: 3.5px;
			margin: 5px;
		}


		/* media screen til at hide hele nyhedsbrevet når det er på mobilvisning*/
		@media screen and (max-width: 700px) {
			.nyhedsbrev {
				display: none;
			}
		}

		/* media screen til blankettens placering ved tablet visning*/
		@media screen and (min-width: 700px) {
			#modal {
				width: 40vw;
				height: 35vw;
				right: 0vw;
				bottom: 0vw;
			}
		}

		/* media screen hvor blanketten er placering ved desktop visning*/
		@media screen and (min-width: 1080px) {
			#modal {
				width: 30vw;
				height: 35vw;
				right: 0vw;
				bottom: 0vw;
			}

		}

		/*--------------------------------------------------------*/
		/*Footer*/
		footer {
			width: 100vw;
			background: var(--french);
			display: flex;
			flex-wrap: nowrap;

		}

		.adresse {
			flex-grow: 1;
			flex-basis: 100px;
			padding-left: 50px;
			margin-top: 5px;

		}

		.adresse a {
			text-decoration: none;
			font-weight: bold;
			color: black;
		}

		.adresse a:hover {
			color: #DBDEDE;
		}





		@media screen and (max-width: 700px) {
			.some_img {
				flex-grow: 1;
				flex-basis: 100px;
				padding-top: 1.5vw;
				padding-left: 15vw;
			}

			.some_img img {
				width: 8vw;
				margin: 2vw;

			}
			.some_img a {
				text-decoration: none;
			}
			.adresse {
				flex-grow: 1;
				flex-basis: 100px;
				padding-left: 50px;
				margin-top: 5px;

			}

		}


		@media screen and (min-width: 700px) {
			.some_img img:hover {
				transform: scale(0.9);
			}
			.some_img {
				flex-grow: 1;
				flex-basis: 100px;
				padding-top: 1vw;
				padding-left: 0vw;
			}

			.some_img img {
				width: 5.5vw;
				margin: 1.5vw;

			}
			.some_img a {
				text-decoration: none;
			}
			.adresse {
				flex-grow: 1;
				flex-basis: 100px;
				padding-left: 50px;
				margin-top: 5px;

			}
		}

		@media screen and (min-width: 900px) {
			.some_img img:hover {
				transform: scale(0.9);
			}
			.some_img {
				flex-grow: 1;
				flex-basis: 100px;
				padding-top: 1.5vw;
				padding-left: 0vw;
			}

			.some_img img {
				width: 4vw;
				margin: 1vw;

			}
			.some_img a {
				text-decoration: none;
			}
			.adresse {
				flex-grow: 1;
				flex-basis: 100px;
				padding-left: 50px;
				margin-top: 5px;

			}

			.adresse {
				font-size: 2em;
			}

		}

	}





	.show {
		opacity: 1 !important;
	}
